@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: 'Inter', sans-serif;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

header {
  /* background-color: rgba(39, 37, 37, 0.664);
  color: #ffff; */
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  font-size: 1rem;
  color: #ffff;
}

header div {
  padding: 15px 90px 15px 20px;
}


#main {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Extra small devices (phones) */
@media (max-width: 576px) {
  #main {
    padding-bottom: 2px;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    width: 100%; 
    padding: 90px 20px 0px 20px;
  } 

  #info div {
    width: 50%;
  }

  #info p {
    font-size: 16px;
  }

  #info span {
    font-size: 20px;
  }

  #about #nature {
    padding: 20px;
  }

  #nature div {
    width: 100%;
  }
} 

/* Small devices (large phones) */
@media (min-width: 576px) and (max-width: 768px) {
  #main {
    padding-bottom: 2px;
  }

  #about {
    display: flex;
    justify-content: center;
  }
 
  #about #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    width: 100%;
    padding:40px 2px 0px 2px;
  }

  #info div {
    width: 50%;
  }

  #info p {
    font-size: 1.5rem;
    padding: 0px 40px 0px 40px;
  }

  #info span {
    font-size: 2.5rem;
  }

  #nature {
    padding: 20px;
  }


  #nature div {
    width: 100%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  #main {
    padding: 0x;
  }

  /* #about {
    display: flex;
    justify-content: center;

  } */
  #about #info {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    padding: 50px 20px 0px 20px;
  }



  #about #nature {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px;
    border:2px solid #00BAF0 */
    /* display: grid;
    grid-template-columns: repeat(2 minmax(0, 1fr)); */
    /* gap: 1.5rem; */
    padding: 40px;
  }

  #nature div {
    width: 100%;
  }

  #info div {
    width: 40%;
  } 


  #info p {
    font-size: 1.5rem;
    /* padding:0px 100px 0px 100px; */
  }

  #info span {
    font-size: 2rem;
  }



}

/* Large devices (laptops/desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  #main {
    padding-bottom: 2px;
  }

  #about #info {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
  }

  #info div {
    width: 250px;
  }

  #info p {
    width: 75%;
    font-size: 1.5rem;
  }

  #info span {
    font-size: 3rem;
  }

  #nature {
    padding: 20px;
  }

  #nature div{
   width:100%;
  }

}

/* Extra large devices */
@media (min-width: 1200px) and (max-width: 1400px) {
  #main {
    padding-bottom: 2px;
  }


  #about #info {
    width: 100%;
    padding: 5;
  }

  #info p {
    font-size: 2rem;
  }

  #info span {
    font-size: 3rem;
  }

    #nature {
    padding: 20px;
  }
  
    #nature div{
      width: 100%;
    }

}

/* 2K and larger screens */
@media (min-width: 1400px) {
  #main {
    padding-bottom: 0px;
  }
}