@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
 font-family: 'Poppins', sans-serif;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

header{
  background-color:rgba(39, 37, 37, 0.664);
  color:#ffff;
  font-size:1rem;
}


#hover-nav div:hover{
  color:rgba(20, 3, 3, 0.981);
}

#main{
  padding:90px 10px 20px 40px;
}

